<!doctype html>
<html>
  <head>
    <title>Patients</title>
  </head>
  <body>
    <h1>Patient List</h1>

    <form method="GET">
      <input type="text" name="search" placeholder="Search first name" />

      <button type="submit">Search</button>
    </form>

    <table border="1">
      <tr>
        <th>MRN</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Phone Number</th>
      </tr>

      {% for patient in patients %}

      <tr>
        <td>{{ patient.mrn }}</td>
        <td>
          <a href="{% url 'patient_detail' patient.id %}">
            {{ patient.first_name }} {{ patient.last_name }}
          </a>
        </td>

        <td>{{ patient.gender }}</td>
        <td>{{ patient.phone_number }}</td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
